.addShip-wrapper {
  margin-block: 10rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addShip-title {
  font-size: xx-large;
  font-family: "Mona Sans Regular", sans-serif;
  text-transform: uppercase;
  color: var(--color-primary);
  width: 100%;
  text-align: center;
}
.addShip-header {
  text-align: center;
  padding: 2rem;
}

.addShip-header p {
  max-width: 600px;
  margin: auto;
}
